{% macro item(launch) %}
	<article class="launch-item">
		<header class="launch-item__header">
			<h3>{{ launch.mission_name }}</h3>
			<p>{{ launch.launch_date_utc }}</p>
		</header>

		<picture class="fixed-ratio fixed-ratio-1by1">
			<img
				class="launch-item__image fixed-ratio-content"
				src="{{ launch.links.mission_patch }}"
				alt=""
			>
		</picture>

		<div class="launch-item__details">
			<ul class="unstyled-list">
				<li>Rocket: {{ launch.rocket.rocket_name }}</li>
				<li>Launch site: {{ launch.launch_site.site_name_long }}</li>
			</ul>

			<a href="/{{ launch.flight_number }}">Details</a>
		</div>
	</article>
{% endmacro %}
