<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="manifest" href="/manifest.json">
	<title>{{ title }} | Launcher</title>
</head>
<body>
	{% include('../partials/header.html') %}

	<main class="page">
		{% block content %}{% endblock %}
	</main>

	<script src="/scripts/bundle.js"></script>
	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/service-worker.js')
				.then(registration => registration.update())
		}
	</script>
</body>
</html>
