{% macro icon(isSuccess) %}
	{% if isSuccess %}
		<img src="/icons/success.svg" class="launch-item__icon" alt="">
	{% else %}
		<img src="/icons/error.svg" class="launch-item__icon" alt="">
	{% endif %}
{% endmacro %}

{% macro image(launch) %}
	<img
		class="launch-item__image fixed-ratio-content"
		src="{{ launch.links.mission_patch }}"
		alt="Launch logo"
		srcset="
			{{ launch.links.mission_patch_small }} 400w,
			{{ launch.links.mission_patch }} 800w
		"
		sizes="
			(min-width: 800px) 33vw,
			(min-width: 400px) 50vw,
			100vw
		"
	>
{% endmacro %}

{% macro item(launch) %}
	<article class="launch-item">
		<header class="launch-item__header">
			{{ icon(launch.launch_success) }}
			<div>
				<h3>{{ launch.mission_name }}</h3>
				<p>{{ launch.launch_date_utc }}</p>
			</div>
		</header>

		<picture class="fixed-ratio fixed-ratio-1by1">
			{{ image(launch) }}
		</picture>

		<div class="launch-item__details">
			<ul class="unstyled-list">
				<li>Rocket: {{ launch.rocket.rocket_name }}</li>
				<li>Launch site: {{ launch.launch_site.site_name_long }}</li>
			</ul>

			<a href="/launches/{{ launch.flight_number }}">Details</a>
		</div>
	</article>
{% endmacro %}
